spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/srmsdb
    username: srms
    password: srmsdbpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  sql:
    init:
      mode: always
